# Each one of those requirements can be installed with pip3 install [package_name]
Biopython 
pandas==1.4.1
lxml 
numpy==1.23.1 
matplotlib==3.5.0
pyteomics
# Later version of xlrd raise errors when executing the digest pipeline
xlrd==1.2.0 
Gooey
