# Each one of those requirements can be installed with pip3 install [package_name]
Biopython 
pandas>=1.4.0
lxml 
numpy 
matplotlib
pyteomics
# Later version of xlrd raise errors when executing the digest pipeline
xlrd==1.2.0 
Gooey
